<footer class="bg-dark">
    <div class="container">
        <p class="text-light">footer</p>
    </div>
    
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>